* {
    box-sizing: border-box;
}

        /** Breakpoint: 576px+ - Desktopversion */
        @media (min-width: 36em) {}

        /** Breakpoint: 768px+ - Desktopversion */
        @media (min-width: 48em) {}

        /** Breakpoint: 992px+ - Desktopversion */
        @media (min-width: 62em) {}

        /** Breakpoint: 1200px+ - Desktopversion */
        @media (min-width: 75em) {}

        /** Breakpoint: 1400px+ - Desktopversion */
        @media (min-width: 87.5em) {}

html {
    font-size: 1em; /* 16px - Standardschriftgröße */
}

body {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
}

::selection {
    color: #014153;
    background-color: #ED6A4E;
}

.container {
    max-width: 75rem; /* 1200px */
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
}

        @media (min-width: 62em) { /* Desktopversion */
            .container {
                padding-left: 2rem;
                padding-right: 2rem;
            }
        }

.button {
    -webkit-appearance: none;
    appearance: none;
    display: inline-block;
    color: white;
    padding: 0.75rem 2rem;
    border-radius: 999999px;
    border: none;
    background-color: #ED6A4E;
    font-weight: bold;
    font-size: 1rem;
    text-decoration: none;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.25);
    /* 
    letter-spacing: 0.05rem; 
    text-transform: uppercase;
    */
}

.button:hover {
    text-decoration: underline;
    background-color: #c95f47;
}

.button--primary {
    background-color: #014153;
    text-align: center;
    padding: 0.75rem 0.25rem;
}

.button--primary:hover {
    background-color: #002d3a;
}

.button--transparent {
    -webkit-backdrop-filter: blur(0.5rem);
    backdrop-filter: blur(0.5rem); /* Hintergrundfilter setzten */
    background-color: transparent;
    border: 0.125rem solid white;
}

.button--transparent:hover {
    background-color: rgba(255, 255, 255, 0.25);
}

.text-primary {
    color: #ED6A4E;
}

.desktop-only {
    display: none;
}

        @media (min-width: 62em) { /* Desktopversion */
            .desktop-only {
                display: initial;
            }
        }

.formular__input {
    -webkit-appearance: none;
    appearance: none;

    margin: 0;
    font-family: inherit;
    font-size: 1rem;
    padding: 0.25rem 0.5rem;
    background-color: white;
    border: 0.125rem solid white;
    border-radius: 0.5rem;
    width: 23rem;
    resize: none;
    width: 100%;
}

.formular__input:focus {
    border: 0.125rem solid rgb(150, 150, 150);
    outline: none;
}

.formular__input--textarea {
    height: 6rem;
}

.formular__input-container {
    padding-bottom: 1.4rem;
    text-align: center;
}


/*Kopfbereich */
.header {
    padding-bottom: 2rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 75%;
    background-image: url("../images/header/header-background-0.5x.jpg");
}

        @media (min-width: 62em) { /* Desktopversion */
            .header {
                background-image: url("../images/header/header-background.jpg");
            }
        }

.header::after {
    content: "";
    display: block;
    width: 7.5rem;
    height: 0.1rem;
    background-color: #ED6A4E;
    margin-right: auto;
    margin-left: auto;
    box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.25);
}

@media (min-width: 62em) { /* Desktopversion */
    .header::after {
        width: 12.5rem;
    }
}

.header__logo-link {
    display: block;
    width: 9rem;
    margin-left: auto;
    margin-right: auto;
}

        @media (min-width: 62em) { /* Desktopversion */
            .header__logo-link {
                margin-left: 0;
                margin-right: 0;
            }
        }

.header__logo {
    width: 100%;
    filter: drop-shadow(0 0 0.5rem rgba(0, 0, 0, 0.5));
}

.header__nav-ul {
    margin: 0;
    padding: 0;
    text-align: center;
}

.header__nav-li {
    display: inline-block;
    list-style-type: none;
}

.header__nav-li--desktop-only {
    display: none;
}

        @media (min-width: 62em) { /* Desktopversion */
            .header__nav-li--desktop-only{
                display: inline-block;
            }
        }

.header__nav-link {
    font-weight: bold;
    display: inline-block;
    color: white;
    text-decoration: none;
    padding: 1rem 1rem;
    text-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
}

.header__nav {
    padding-top: 2rem;
    padding-bottom: 0.5rem;
}

        @media (min-width: 62em) { /* Desktopversion */
            .header__nav {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
            }
        }

.header__heading {
    font-size: 2rem;
    color: white;
    margin: 0;
    text-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
}

        @media (min-width: 36em) { /* Tabletversion */
            .header__heading {
                font-size: 3rem;
            }
        }

        @media (min-width: 62em) { /* Desktopversion */
            .header__heading {
                padding-top: 5rem;
            }
        }

.header__sub-heading {
    font-size: 1rem;
    color: white;
    margin: 0%;
    padding-top: 0.5rem;
    padding-bottom: 2rem;
    text-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
}

        @media (min-width: 36em) { /* Tabletversion */
            .header__sub-heading {
                font-size: 1.25rem;
            }
        }

        @media (min-width: 62em) { /* Desktopversion */
            .header__sub-heading {
                padding-bottom: 7.5rem;
            }
        }

.header__button-container {
    display: flex;
    justify-content: center;
    padding-bottom: 1.5rem;
}

        @media (min-width: 62em) { /* Desktopversion */
            .header__button-container {
                display: none;
            }
        }


/* Hauptbereich Teil 1 - Adventures */
.heading {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 2.25rem;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    color: #014153;
    padding: 3rem 0;
}

.heading--white {
    color: white;
    text-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
}

.heading--centered {
    padding-top: 3.5rem;
    text-align: center;
}

.heading--top-box::before {
    content: "";
    display: block;
    height: 0.1rem;
    width: 7.5rem;
    background-color: #ED6A4E;
    margin-bottom: 2rem;
}

.heading--bottom-box::after {
    content: "";
    display: block;
    height: 0.1rem;
    width: 7.5rem;
    background-color: #ED6A4E;
    margin-top: 2rem;
}

.heading--small {
    font-size: 1.5rem;
}

.heading__pre-text {
    display: block;
    font-size: 1.25rem;
    font-weight: lighter;
}

.adventures {
    background-color: rgb(225, 220, 206);
    background-image: url(../images/adventures/background.jpg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    padding-bottom: 4rem;
}

.adventures__card-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; /* Zeilenumbruch erlauben */
    justify-content: center;
    margin-left: -1rem;
    margin-right: -1rem;
    margin-top: -1rem;
    margin-bottom: -1rem;
}

.adventures__card {
    position: relative;

    text-align: center;
    background-color: rgb(255, 255, 255);
    flex: 0 0 22.333333rem; /* width: 30rem; */
    margin: 1rem;
    border-radius: 0.75rem;
    overflow: hidden;
    box-shadow: 0 0.75rem 1rem rgba(0, 0, 0, 0.25);

    will-change: transform;
    transform: scale(1);
    transition: transform 0.25s ease-in-out;
}

.adventures__card:hover {
    transform: scale(1.05);
}

.adventures__card-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding-bottom: 1.25rem;
    background-color: rgba(0, 0, 0, 0.5);
    -webkit-backdrop-filter: blur(0.33rem);
    backdrop-filter: blur(0.33rem);
}

.adventures__card-img {
    display: block;
    height: 27rem;
    width: 100%;
    object-fit: cover;
    object-position: 50% 0%;
}

.adventures__card-heading {
    margin: 0;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 1.25rem;
    color: white;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.05rem;
}

.adventures__card-date {
    color: white;
    text-transform: uppercase;
    text-align: center;
    font-size: 1rem;
    margin: 0;
    letter-spacing: 0.1rem;
    padding-bottom: 1rem;
} 

/* Hauptbereich Teil 2 - Story */
.story {
    background-image: url(../images/story/background-mobile.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 6rem;
    padding-top: 4rem;
}

        @media (min-width: 62em) { /* Desktopversion */
            .story {
                background-image:
                    linear-gradient(180deg, rgba(0, 0, 0, 0.5) 0%, transparent 10%, transparent 90%, rgba(0, 0, 0, 0.5) 100%), 
                    url("../images/story/background-desktop.jpg");

                background-size: 100% 100%, 110% auto;
                background-position: center center, 100% 50%;
                background-attachment: local, fixed;
            }
        }

        @media (min-width: 62em) { /* Desktopversion */
            .story__inner {
                padding-left: 50%;
            }
        }

.story__paragraph {
    margin: 0;
    font-size: 1rem;
    color: white;
    padding-bottom: 1.5rem;
    line-height: 1.5em;
    letter-spacing: 0.125rem;
    text-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
}

/* Hauptbereich Teil 3 - Parts */
.parts__paragraph {
    margin: 0;
    font-size: 1rem;
    color: #014153;
    padding-bottom: 3.5rem;
    padding-top: 2.75rem;
    line-height: 1.5em;
    letter-spacing: 0.125rem;
    max-width: 55rem;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.parts {
    padding-bottom: 1.8rem;
}

.parts::after {
    content: "";
    display: block;
    height: 0.1rem;
    width: 7.5rem;
    background-color: #ED6A4E;
    margin-right: auto;
    margin-left: auto;
}

.parts__items-outer {
    overflow: hidden;
}

.parts__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: -0.10rem;
    margin-top: -0.08rem;
    margin-left: -0.08rem;
    margin-right: -0.08rem;
}

.parts__item {
    display: block;
    flex: 1 0 20rem;
    border: 0.05rem solid #ED6A4E;
    padding: 2rem;
    text-decoration: none;
}

.parts__item:hover {
    background-color: rgba(225, 220, 206, 0.5);
    cursor: pointer;
}

.parts__item-icon-container {
    width: 5rem;
    height: 5rem;
    border-radius: 99999px;
    background-color:#ED6A4E;
    margin-left: auto;
    margin-right: auto;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.parts__item-icon {
    display: block;
    width: 3rem;
    height: 3rem;
    margin-left: auto;
    margin-right: auto;
}

.parts__item-heading {
    margin: 0;
    font-size: 1rem;
    padding-top: 1.5rem;
    text-align: center;
    text-transform: uppercase;
    color: #014153;
    letter-spacing: 0.1rem;
}

/* Hauptbereich Teil 4 - Guide */
.guide {
    padding-top: 10rem;

    background-image: 
         linear-gradient(90deg, #014153, #014153),
        url("../images/guide/pexels-kevin-menajang-982673.jpg"),
        url("../images/guide/pexels-aron-visuals-1694621.jpg");
        background-size: 
        100% calc(100% - 10rem),
        100% calc(100% - 10rem),
        100% auto;
        background-repeat: 
        no-repeat,
        no-repeat,
        no-repeat;
        background-position: 
        50% 120%,
        50% 120%,
        50% calc(5rem - 50vw);

        background-blend-mode: 
        multiply,
        normal;
}

        @media (min-width: 62em) { /* Desktopversion */
            .guide {
                padding-top: 0;
                background-size: 
                calc(50% + 10rem) 100%,
                calc(50% + 10rem) 100%,
                calc(50% - 10rem) auto;
                background-position: 
                100% 50%,
                100% 50%,
                0% 18%;
            }
        }

        @media (min-width: 62em) { /* Desktopversion */ 
            .guide__container {
                padding-top: 8rem;
                padding-left: calc(50% - 2rem);
            }
        }

.guide__paragraph {
    margin: 0;
    font-size: 1rem;
    color: white;
    padding-bottom: 1.5rem;
    line-height: 1.5em;
    letter-spacing: 0.125rem;
    text-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
}

.guide__container {
    padding-top: 6rem;
    padding-bottom: 6rem;
}

/* Hauptbereich Teil 5 - Skills */
.skills {
    background-color: rgb(225, 220, 206);
    background-image: url(../images/adventures/background.jpg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    padding-bottom: 6rem;
}

.skills__card-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; /* Zeilenumbruch erlauben */
    justify-content: center;
    margin-left: -1rem;
    margin-right: -1rem;
    margin-top: -1rem;
    margin-bottom: -1rem;
}

.skills__card {
background-color: white;
border-radius: 0.75rem;
padding: 2rem;
flex: 0 0 22.333333rem; /* width: 30rem; */
margin: 1rem;
overflow: hidden;
box-shadow: 0 0.75rem 1rem rgba(0, 0, 0, 0.25);
}

.skills__card-icon-container {
    width: 5rem;
    height: 5rem;
    border-radius: 99999px;
    background-color:#ED6A4E;
    margin-right: auto;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.skills__card-icon {
    display: block;
    fill: #014153;
    width: 3rem;
    height: 3rem;
    margin-left: auto;
    margin-right: auto;
}

.skills__card-list {
    margin: 0;
    padding: 0;
    color: #014153;
    line-height: 1.5em;
    letter-spacing: 0.125rem;
    list-style-type: none;
}

.skills__card-list-item {
    padding-bottom: 1rem;
}

.skills__card-list-item::before {
    content: "";
    display: inline-block;
    background-color: #014153;
    width: 0.25rem;
    height: 0.25rem;
    border-radius: 999999px;

    position: relative;
    top: -0.15em;
    margin-right: 0.5em;
}

/* Hauptbereich Teil 6 - Zitat */
.quote {
    background-color: #014153;
    color: #ED6A4E;
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.quote__figure {
    margin: 0;
    text-align: center;
}

.quote__blockquote {
    margin: 0;
    font-weight: bold;
    padding-bottom: 1.75rem;
    font-size: 2.20rem;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.125rem;
}

.quote__figcaption {
    font-size: 1.25rem;
    text-transform: uppercase;
    letter-spacing: 0.125rem;
}

.quote__paragraph {
    margin: 0;
}

.quote__paragraph::before {
    content: "“";
}

.quote__paragraph::after {
    content: "“";
}

/* Kontaktbereich */
.contact {
    background-color: #ED6A4E;
    padding-top: 5rem;
    padding-bottom: 4rem;
}

.contact ::selection {
    color: #ED6A4E;
    background-color: #014153;
}

        @media (min-width: 62em) { /* Desktopversion */
            .contact::after {
            content: "";
            display: block;
            height: 0.1rem;
            width: 7.5rem;
            background-color: #014153;
            margin-left: auto;
            margin-right: auto;
            margin-top: 4rem;
            margin-bottom: 3rem;
            }
        }

.contact__logo {
    display: block;
    width: 17rem;
    margin-left: auto;
    margin-right: auto;
    opacity: 0.5; /* Sichtbarkeit */
}

.contact__text {
    margin: 0;
    padding-top: 3rem;
    padding-bottom: 1rem;
    font-weight: normal;
    font-size: 1.75rem;
    color: white;
    text-align: center;
}

.contact__phone-container {
    text-align: center;
    font-weight: bolder;
}

.contact__phone {
    display: inline-block;
    color: #014153;
    padding: 0.5rem 1rem;
    font-size: 2rem;
    text-decoration: none;
}

.contact__phone:hover {
    text-decoration: underline;
}

.contact__info::after {
    content: "";
    display: block;
    height: 0.1rem;
    width: 7.5rem;
    background-color: #014153;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4rem;
    margin-bottom: 3rem;
}

        @media (min-width: 62em) { /* Desktopversion */
            .contact__info::after {
            display: none;
            }
        }

        @media (min-width: 62em) { /* Desktopversion */
            .contact__desktop {
            display: flex;
            flex-direction: row;
            padding-top: 1.5rem;
            padding-bottom: 1.5rem;
            background-image: linear-gradient(90deg, 
            transparent calc(50% - 0.120rem), 
            rgba(255, 255, 255, 0.5) calc(50% - 0.120rem), 
            rgba(255, 255, 255, 0.5) calc(50% + 0.120rem), 
            transparent calc(50% + 0.120rem));
            }
        }

        @media (min-width: 62em) { /* Desktopversion */
            .contact__info {
                flex: 0 0 50%;
            }
        }

.contact__formular {
     max-width: 25rem;
     margin-left: auto;
     margin-right: auto;
}
        
        @media (min-width: 62em) { /* Desktopversion */
            .contact__formular {
            flex: 0 0 50%;
            padding-left: 2rem;
            padding-right: 2rem;
            max-width: initial;
            margin-left: initial;
            margin-right: initial;
            }
        }

/* Fußbereich */
.footer {
    background-color: #ED6A4E;
    padding-bottom: 3rem;
}

.footer ::selection {
    color: #ED6A4E;
    background-color: #014153;
}

.footer__text {
    margin: 0;
    text-align: center;
    color: #014153;
}

.footer__link {
    color:#014153;
    text-decoration: none;
}

.footer__link:hover {
    text-decoration: underline;
}